##website_performance

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv("D:\DATA SCIENCE\Kaholas assignment\website_performance.csv",encoding='latin-1')
df.head()

        Month  Page_Load_Time  Bounce_Rate  Conversion_Rate
0  2023-01-01        5.106652     0.514345         0.047375
1  2023-02-01        7.828199     0.317157         0.062764
2  2023-03-01        3.239983     0.480903         0.050514
3  2023-04-01        5.954509     0.473572         0.057151
4  2023-05-01        9.872398     0.542407         0.089525

In [3]:
df.shape

(12, 4)

In [4]:
df.describe()

       Page_Load_Time  Bounce_Rate  Conversion_Rate
count       12.000000    12.000000        12.000000
mean         5.866266     0.452650         0.060056
std          2.288288     0.086482         0.014993
min          2.468395     0.301692         0.038263
25%          4.165375     0.389651         0.048626
50%          5.621936     0.477238         0.059957
75%          7.457142     0.517399         0.065832
max          9.872398     0.566843         0.089525

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Month            12 non-null     object
 1   Page_Load_Time   12 non-null     float64
 2   Bounce_Rate      12 non-null     float64
 3   Conversion_Rate  12 non-null     float64
dtypes: float64(3), object(1)
memory usage: 512.0+ bytes

In [6]:
df.isnull().any()

Month              False
Page_Load_Time     False
Bounce_Rate        False
Conversion_Rate    False
dtype: bool

In [7]:
df.isnull().sum()

Month              0
Page_Load_Time     0
Bounce_Rate        0
Conversion_Rate    0
dtype: int64

In [8]:
df['Month'].str.split('-').str[0]

0     2023
1     2023
2     2023
3     2023
4     2023
5     2023
6     2023
7     2023
8     2023
9     2023
10    2023
11    2023
Name: Month, dtype: object

In [9]:
df['Year'] = df['Month'].str.split('-').str[0]
df['Months'] = df['Month'].str.split('-').str[1]
df['Date'] = df['Month'].str.split('-').str[2]

In [10]:
df.head()

        Month  Page_Load_Time  Bounce_Rate  Conversion_Rate  Year Months Date
0  2023-01-01        5.106652     0.514345         0.047375  2023     01   01
1  2023-02-01        7.828199     0.317157         0.062764  2023     02   01
2  2023-03-01        3.239983     0.480903         0.050514  2023     03   01
3  2023-04-01        5.954509     0.473572         0.057151  2023     04   01
4  2023-05-01        9.872398     0.542407         0.089525  2023     05   01

In [11]:
df['Date'] = df['Date'].astype(int)
df['Months'] = df['Months'].astype(int)
df['Year']  = df['Year'].astype(int)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Month            12 non-null     object
 1   Page_Load_Time   12 non-null     float64
 2   Bounce_Rate      12 non-null     float64
 3   Conversion_Rate  12 non-null     float64
 4   Year             12 non-null     int32
 5   Months           12 non-null     int32
 6   Date             12 non-null     int32
dtypes: float64(3), int32(3), object(1)
memory usage: 656.0+ bytes

In [13]:
df.drop('Month',axis = 1,inplace = True)

In [14]:
df.head()

   Page_Load_Time  Bounce_Rate  Conversion_Rate  Year  Months  Date
0        5.106652     0.514345         0.047375  2023       1     1
1        7.828199     0.317157         0.062764  2023       2     1
2        3.239983     0.480903         0.050514  2023       3     1
3        5.954509     0.473572         0.057151  2023       4     1
4        9.872398     0.542407         0.089525  2023       5     1

In [15]:
# Convert 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'])

In [16]:
df['Date']

0    1970-01-01 00:00:00.000000001
1    1970-01-01 00:00:00.000000001
2    1970-01-01 00:00:00.000000001
3    1970-01-01 00:00:00.000000001
4    1970-01-01 00:00:00.000000001
5    1970-01-01 00:00:00.000000001
6    1970-01-01 00:00:00.000000001
7    1970-01-01 00:00:00.000000001
8    1970-01-01 00:00:00.000000001
9    1970-01-01 00:00:00.000000001
10   1970-01-01 00:00:00.000000001
11   1970-01-01 00:00:00.000000001
Name: Date, dtype: datetime64[ns]

In [17]:
# Calculate average page load time
average_load_time = df['Page_Load_Time'].mean()

In [18]:
# Calculate average bounce rate
average_bounce_rate = df['Bounce_Rate'].mean()

In [19]:
# Calculate average conversion rate
average_conversion_rate = df['Conversion_Rate'].mean()

In [20]:
# Identify months with the highest bounce rate
max_bounce_rate_month = df.loc[df['Bounce_Rate'].idxmax(), 'Months']

In [21]:
# Identify months with the highest conversion rate
max_conversion_rate_month = df.loc[df['Conversion_Rate'].idxmax(), 'Months']

In [22]:
# Display the results
print("Website Performance Metrics:")
print("Average Page Load Time:", average_load_time)
print("Average Bounce Rate:", average_bounce_rate)
print("Average Conversion Rate:", average_conversion_rate)
print("Month with the Highest Bounce Rate:", max_bounce_rate_month)
print("Month with the Highest Conversion Rate:", max_conversion_rate_month)

Website Performance Metrics:
Average Page Load Time: 5.866266048900847
Average Bounce Rate: 0.4526503154628032
Average Conversion Rate: 0.06005589709726499
Month with the Highest Bounce Rate: 10
Month with the Highest Conversion Rate: 5